 h1, h2{ 
font-size: 20pm;
color: pink;}
h4{ 
font-size: 20pm;
color: lightblue; }
body {
	background:linear-gradient(45deg,#ff0066,#6a5acd,#00bcd4);
	background-size:400% 400%;
	animation: gradient 5s ease infinite;
}


 @keyframes gradient {
 	0% {background-position: 0% 50%}
 	50% {background-position: 100% 50%}
 	100%{ background-position: 0% 50% }
 }



p::after {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  background-color: #f0f0f0;
  border-radius: 50%;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

